PUBLIC_SITE_URL=https://www.kodo.diy
DODO_API_BASE=https://live.dodopayments.com
DODO_PAYMENTS_API_KEY=your_dodo_secret_key
DODO_PRODUCT_ID_DEFAULT=pdt_your_default_dodo_product_id
DODO_PRODUCT_MAP_JSON={"kd-man-drop-01":"pdt_example_1","kd-woman-together-01":"pdt_example_2"}
DODO_SEND_DYNAMIC_AMOUNTS=true

KODO_ADMIN_EMAIL=kododiy@gmail.com
GOOGLE_CLIENT_ID=315340311965-akvp9jp8ug8g24h0236mb68k2iot9frp.apps.googleusercontent.com
ALLOWED_ORIGINS=https://www.kodo.diy,https://kodo.diy
